html {
    overflow-y: scroll;
}

.filter-button {
    display: inline-block;
    padding: 10px 20px;
    color: var(--electric-iris-regular);
    border: 2px solid var(--electric-iris-regular);
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #FAFAFA; /* Default background */
}

.filter-button:hover {
    background-color: var(--electric-iris-regular);
    color: #FAFAFA;
}

/* Active button state (when category is selected) */
.filter-button.active {
    background-color: var(--electric-iris-regular) !important;
    color: #FAFAFA !important;
    border-color: var(--electric-iris-regular) !important;
}

/* Base styles for pagination buttons */
.custom-pagination-button {
    padding: 5px 10px;
    color: var(--electric-iris-regular); /* Text color */
    background-color: #fAfAfA; /* Background color */
    border: 2px solid var(--electric-iris-regular); /* Border color */
    border-radius: 25px; /* Rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth hover transition */
}

.custom-pagination-button:hover {
    background-color: var(--electric-iris-regular); /* Hover background color */
    color: #fafafa; /* Hover text color */
}

.custom-pagination-button.active {
    background-color: var(--electric-iris-regular);
    color: #fafafa;
}


@media (max-width: 768px) {
    .mobile-category-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .filter-button {
        font-size: 12px !important;
        padding: 6px 12px !important;
        border-radius: 15px !important;
    }
}


