.custom-button {
    display: inline-block;
    background-color: var(--electric-iris-regular); /* Button background color */
    color: #F5F5F5; /* Text color */
    padding: 15px 20px; /* Button padding */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

.custom-button:hover, .custom-button:focus {
    background-color: var(--electric-iris-focused );
    box-shadow: 4px 4px 0 var(--lemon-zest-regular); /* More prominent shadow on hover */
}