
.rounded-modal .modal-content {
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
}

.modal-header-custom {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #f8f9fa;
}

.modal-body-custom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.rounded-modal .modal-header .btn-close {
    font-size: 16px;
    padding: 5px;
}

.card-persona {
    border: none; /* Removes border */
    border-radius: 25px; /* Rounded corners */
    overflow: hidden; /* Ensures content stays within rounded corners */
    background-color: var(--g0);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}


@media (hover: hover) and (pointer: fine) {
    .card-persona:hover {
        transform: translateY(-1px); /* Slight lift effect on hover */
        box-shadow: 4px 4px 0 var(--lemon-zest-regular);
    }
}

