/* Default styles (for larger screens) */
.h5-regular {
  font-family: 'Lexend', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.h6 {
  font-family: 'Lexend', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.body-regular {
  font-family: "Lexend", sans-serif !important;
  font-size: 13px !important;
  font-weight: 100 !important;
  line-height: 1.5;
}

.body-underline {
  font-family: 'Lexend', sans-serif !important;
  font-size: 12px !important;
  text-decoration: underline !important;
}

.body-bold {
  font-family: 'Lexend', sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.body-bold-underline {
  font-family: 'Lexend', sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

.header-bold, .header-regular {
  font-family: 'Lexend', sans-serif !important;
  font-size: 91px !important;
  font-weight: bold !important;
}

h1 {
  font-family: 'Lexend', sans-serif !important;
  font-size: 59px !important;
  font-weight: 700 !important;
}

h2 {
  font-family: 'Lexend', sans-serif !important;
  font-size: 43px !important;
}

h3 {
  font-family: 'Lexend', sans-serif !important;
  font-size: 28px !important;
}

h4 {
  font-family: 'Lexend', sans-serif !important;
  font-size: 20px !important;
}

h5 {
  font-family: 'Lexend', sans-serif !important;
  font-size: 16px !important;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  h5-regular, h6, h5 {
    font-size: 14px !important;
  }

  .body-regular {
    font-size: 12px !important;
  }

  .body-underline, .body-bold, .body-bold-underline {
    font-size: 12px !important;
  }

  .header-bold, .header-regular {
    font-size: 22px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 14px !important;
  }
}

/* Further reductions for very small screens (phones) */
@media (max-width: 480px) {

  .h5-regular, .h6, h5 {
    font-size: 14px !important;
  }

  .body-regular {
    font-size: 12px !important;
  }

  .body-underline, .body-bold, .body-bold-underline {
    font-size: 12px !important;
  }

  .header-bold, .header-regular {
    font-size: 22px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 14px !important;
  }
}


.g6 { color: #1B1B1B  }
.g5 { color: #242424  }
.g4 { color: #3A3A3A  }
.g3 { color: #505050  }
.g2 { color: #878787  }
.g1 { color: #C8C8C8  }
.g0 { color: #F5F5F5  }

.electric-iris-regular { color: #5D5FEF !important; }
.electric-iris-focused { color: #2C2FD5 !important; }
.coral-blaze-regular { color: #E78147 !important; }
.coral-blaze-focused { color: #F06719 !important; }
.lemon-zest-regular { color: #BAE313 !important; }
.lemon-zest-focused { color: #C7E747 !important; }
.ruby-blush-regular { color: #E74764 !important; }
.ruby-blush-focused { color: #ED0F37 !important; }

:root {
  /* Electric Iris */
  --electric-iris-regular: #5D5FEF;
  --electric-iris-focused: #2C2FD5;

  /* Coral Blaze */
  --coral-blaze-regular: #E78147;
  --coral-blaze-focused: #F06719;

  /* Lemon Zest */
  --lemon-zest-regular: #BAE313;
  --lemon-zest-focused: #C7E747;

  /* Ruby Blush */
  --ruby-blush-regular: #E74764;
  --ruby-blush-focused: #ED0F37;

  --g6: #1B1B1B;
  --g5: #242424;
  --g4: #3A3A3A;
  --g3: #505050;
  --g2: #878787;
  --g1: #C8C8C8;
  --g0: #F5F5F5;
}

code {
  font-family: 'Lexend', sans-serif !important;
}



